<div class="bg-page py-5">
    <div class="container">
        <!-- main-heading -->
        <!--h3 class="main-title-w3layouts mb-2 text-center text-white" style=" text-shadow: 2px 2px 5px red;"><img class="img img-thumbnail" src="../assets/images/logo.png"></h3>
        <!--// main-heading -->
        <div class="form-body-w3-agile col-md-6 text-center w-lg-50 w-sm-75 w-100 mx-auto mt-5" style="border-radius: 25px;border: 2px solid #73AD21;">
            <div class="card rounded-0">
                <div class="card-header">
                    <h3 class="mb-0 text-capitalize text-center text-primary">
                        <img class="img img-thumbnail" src="../assets/images/logo.png">
                    </h3>
                </div>
                <div class="card-body">
                    <div *ngIf="loginError['error']" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>OOOPS!</strong> {{loginError.error.message}} !!
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <h4 class="text-center text-capitalize text-info">User Sign in!</h4>

                    <br>
                    <form method="post" [formGroup]="loginForm" (ngSubmit)="doUserLogin()">
                        <div class="form-group">
                            <label>Username</label>

                            <input type="text" class="form-control form-control-lg" [ngClass]="{'is-invalid': submitted && f.username.errors}" formControlName="username" placeholder="Enter Username/Email">
                            <div class="col-sm-10" *ngIf="submitted && fields.username.errors">
                                <span class="alert alert-danger" *ngIf="fields.username.errors.required">Username is required</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control form-control-lg" [ngClass]="{'is-invalid': submitted && f.password.errors}" formControlName="password" placeholder="Password">
                            <div class="col-sm-10" *ngIf="submitted &&  fields.password.errors">
                                <span class="alert alert-danger" *ngIf="fields.password.errors.required">Password is required</span>
                            </div>
                        </div>
                        <div class="d-sm-flex justify-content-between">
                            <div class="form-check col-md-6 text-sm-left text-center">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Remember me</label>
                            </div>
                            <div class="forgot col-md-6 text-sm-right text-center">
                                <a href="">forgot password?</a>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary error-w3l-btn mt-sm-5 mt-3 px-4">Login</button>
                    </form>
                    <p class="paragraph-agileits-w3layouts mt-4">Don't have an account
                        <a href="">Create an account</a>
                    </p>
                </div>
            </div>

        </div>

        <app-footer></app-footer>
    </div>
</div>